.Main {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	height: 100%;
	max-height: 844px;
	overflow-y: auto;
}

.ChatMessage {
	margin-bottom: 10px;
	border-radius: 8px;
}

.UserMessage {
	position: relative;
	align-self: flex-end;
	background-color: var(--color-blue);
	color: #fff;
	border-radius: 8px;
	padding: 4px 8px 4px 8px;
	margin-bottom: 5px;
	margin-right: 25px;
}

.UserMessage .MessageTime {
	color: #fff;
}

.UserMessage::before {
	content: "";
	position: absolute;
	top: 0;
	right: -9px;
	width: 20px;
	height: 20px;
	background: linear-gradient(
		138deg,
		var(--color-blue) 0%,
		var(--color-blue) 50%,
		transparent 50%,
		transparent
	);
}

.StatusIndicator {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: grey;
}

.Online {
	background-color: #34c759;
	border: 1px solid #fff;
}

//Message Style

.MessageContent {
	position: relative;
	display: flex;
	flex-direction: row;
	position: relative;
}

.MessageText {
	margin-right: 10px;
	font-weight: 400;
	font-size: var(--font-line-m);
	line-height: 20px;
	height: 31px;
	padding-bottom: 11px;
}

.MessageTime {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	font-size: 12px;
	color: #555;
}

.MessageActions {
	position: absolute;
	display: flex;
	justify-content: space-between;
	top: -5px;
	right: 10px;
	width: 20px;
	height: 20px;
	opacity: 0;
	transition: opacity 0.2s ease;
}

.MessageActions button {
	margin: 1px;
}

.MessageActions:hover {
	opacity: 1;
}

.MessageText input {
	background: inherit;
	color: #fff;
	border: none;
}

.MessageText input:focus {
	outline: none;
}

.DeleteButton {
	border: none;
	background: none;
	color: wheat;
}
.EditButton {
	border: none;
	background: none;
	color: wheat;
}

.CurrentDate {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	font-size: var(--font-size-m);
	color: var(--color-gray);
}

//Bot Message Style

.BotInfo {
	display: flex;
	font-size: var(--font-line-m);
	line-height: 18px;
}

.BotName {
	font-size: var(--font-line-m);
	font-weight: 600;
	margin-right: 10px;
}

.BotPosition {
	font-weight: 400;
	color: var(--color-gray);
}

.BotMessage {
	display: flex;
	align-self: flex-start;
	flex-direction: row;
	height: 61px;
	padding: 4px 8px 4px 8px;
	margin-left: 5px;
	background-color: #fff;
	color: #2c2c2e;
	border-radius: 8px;
}

.BotMessage .MessageContent {
	background-color: #f2f2f7;
	border-radius: 6px;
	padding: 6px;
}

.BotAvatar {
	margin-right: 10px;
}

.Avatar {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: #ccc;
	margin-right: 10px;
}
