.Main {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	height: 100%;
	max-height: 844px;
	overflow-y: auto;
}

.ChatMessage {
	position: relative;
	margin-bottom: 10px;
	border-radius: 8px;
}

.UserMessage {
	position: relative;
	align-self: flex-end;
	background-color: var(--color-blue);
	color: var(--color-white);
	border-radius: 6px;
	padding: 4px 8px;
	margin-bottom: 5px;
	margin-right: 25px;
}

.UserMessage .MessageText {
	background-color: var(--color-blue);
	height: 100%;
}

.UserMessage .MessageTime {
	color: var(--color-white);
}

.UserMessage::before {
	content: "";
	position: absolute;
	top: 0;
	right: -9px;
	width: 20px;
	height: 20px;
	background: linear-gradient(
		138deg,
		var(--color-blue) 0%,
		var(--color-blue) 45%,
		transparent 50%,
		transparent
	);
	border-radius: 2px;
}

.StatusIndicator {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: grey;
	z-index: 1000;
}

.Online {
	background-color: #34c759;
	border: 1px solid var(--color-white);
}

//Message Style

.MessageContent {
	display: flex;
	flex-direction: row;
	position: relative;
}

.MessageText {
	margin-right: 10px;
	font-weight: 400;
	font-size: var(--font-line-m);
	line-height: 20px;
	height: 31px;
	padding-bottom: 11px;
	max-width: 50vh;
	word-wrap: break-word;
}

.MessageTime {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	font-size: 12px;
	color: #555;
}

.MessageActions {
	position: absolute;
	display: flex;
	justify-content: space-between;
	bottom: -2px;
	left: 10px;
	width: 20px;
	height: 20px;
	opacity: 0.1;
	transition: opacity 0.2s ease;
}

.MessageActions button {
	margin: 1px;
}

.MessageActions:hover {
	opacity: 1;
}

.MessageText input {
	background: inherit;
	color: var(--color-white);
	border: none;
}

.MessageText input:focus {
	outline: none;
}

.DeleteButton {
	border: none;
	background: none;
	color: var(--color-white);
}

.EditButton {
	border: none;
	background: none;
	color: var(--color-white);
}

.EditInput {
	resize: none;
	overflow-y: hidden;
	border: none;
	background-color: var(--color-blue);
	color: var(--color-white);
}

.CurrentDate {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: var(--font-size-m);
	color: var(--color-gray);
}

.Check {
	margin-left: 4px;
	display: flex;
	align-items: flex-end;
	position: relative;
	padding: 5px;
}

.CheckItem {
	position: absolute;
	bottom: 3px;
}

.CheckItem:first-child {
	left: -1px;
}

//Bot Message Style

.BotInfo {
	display: flex;
	font-size: var(--font-line-m);
	line-height: 18px;
}

.BotName {
	font-size: var(--font-line-m);
	font-weight: 600;
	margin-right: 10px;
}

.BotPosition {
	font-weight: 400;
	color: var(--color-gray);
}

.BotMessage {
	display: flex;
	align-self: flex-start;
	flex-direction: row;
	height: 61px;
	padding: 4px 8px;
	margin-left: 5px;
	background-color: var(--color-white);
	color: #2c2c2e;
	border-radius: 8px;
}

.BotMessage .MessageContent {
	position: relative;
	background-color: #f2f2f7;
	border-radius: 0px 6px 6px 6px;
	padding: 6px;
}

.BotMessage .MessageContent::before {
	content: "";
	position: absolute;
	top: 0;
	left: -15px;
	width: 20px;
	height: 20px;
	background: linear-gradient(
		236deg,
		#f2f2f7 45%,
		#f2f2f7 0%,
		transparent 50%,
		transparent
	);
	border-radius: 3px;
}

.BotAvatar {
	margin-right: 10px;
}

.Avatar {
	position: relative;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	margin-right: 10px;
}

.AvatarImage {
	position: absolute;
	top: 0;
}
